version: '3.8'

services:
  app:
    build: .
    ports:
      - "5000:5000"
    environment:
      - DATABASE_URL=postgresql://future:future_dev@host.docker.internal:5432/sts
      - SECRET_KEY=prod-secret-key-change-this
      - JWT_SECRET_KEY=prod-jwt-secret-key-change-this
      - FLASK_ENV=production
    volumes:
      - ./instance:/app/instance
    restart: unless-stopped
    extra_hosts:
      - "host.docker.internal:host-gateway"
